//Fonts
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    width: 100vw;
    font-family: $text;
    background-color: $beige;
    color: $black;
}
