#formAdd {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 2rem;
        font-weight: 900;
        color: $coral;
        text-shadow: 1px 1px 1px $black;
        text-align: center;
        padding-bottom: 1rem;
    }
    span {
        font-size: 1.3rem;
        text-align: center;
    }
    #formBook {
        padding-top: 2rem;
        width: 70%;
        margin: 2rem auto;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        #formAddContainer {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2rem;
            color: $white;
            #formLeft {
                padding-left: 10%;
                width: 50%;
                display: flex;
                flex-direction: column;
            }
            #formRight {
                width: 50%;
                display: flex;
                flex-direction: column;
                span {
                    font-size: 1.1rem;
                    text-align: left;
                }
                #checkboxContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .checkGroup {
                        width: 50%;
                        span {
                            font-size: 1rem;
                        }
                    }
                }
                #lastItem {
                    margin-top: 1rem;
                    input {
                        width: 70%;
                    }
                }
            }
            .inputKeyboard {
                width: 50%;
                padding: 0.5rem 1rem;
                color: $blue;
                border-radius: 15px;
            }
        }
        #buttonContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            #submit,
            #reset {
                width: 18%;
                margin: 0 0.5rem;
                padding: 0.5rem 1rem;
                background-color: $white;
                color: $blue;
                border-radius: 15px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 700;
            }
            #submit:hover,
            #reset:hover {
                color: $black;
                background-color: $coral;
            }
        }
    }
}
