//COLORS
$beige: #ffefe8;
$blue: #2b4d84;
$coral: #d55249;
$green: #236b68;
$orange: #df8e38;
$black: #050505;
$white: #f5f5f5;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$titles: 'Laila', serif;
$text: 'Nunito', sans-serif;
