@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

img,
iframe,
embed,
object,
video {
  border: 0;
}

img,
iframe,
embed,
object,
video,
input[type=image],
input[type=video],
input[type=embed],
object[type=image],
object[type=video],
object[type=embed] {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

body {
  cursor: default;
}

u {
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: "Nunito", sans-serif;
  background-color: #fbf3ef;
  color: #050505;
}

header {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  width: 30%;
  margin: 0 auto;
  font-family: "Laila", serif;
  font-size: 4rem;
  padding-left: 3rem;
  color: #236b68;
  text-shadow: 2px 2px 2px #050505;
}
header nav {
  width: 60%;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li a {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #050505;
}

footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
footer #socialMedia {
  width: 40%;
}
footer #socialMedia a {
  font-size: 3rem;
}
footer #socialMedia a i {
  color: #2b4d84;
}

#home {
  width: 100%;
  height: 70vh;
}
#home article {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#home article #textContainer {
  width: 40%;
  padding-left: 10rem;
  text-align: left;
}
#home article #textContainer h2 {
  font-family: "Laila", serif;
  font-size: 2rem;
  color: #d55249;
  text-shadow: 1px 1px 1px #050505;
}
#home article #textContainer p {
  font-size: 1.2rem;
}
#home article #imgContainer {
  width: 40%;
}
#home article #imgContainer img {
  width: 60%;
}

#books {
  width: 100vw;
  display: none;
}
#books #booksContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#books #booksContainer #searchContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
#books #booksContainer #searchContainer input {
  width: 20rem;
  padding: 0.5rem 1rem;
  font-family: "Laila", serif;
  border-radius: 20px;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid #d55249;
  background-color: #f9d2d0;
}
#books #booksContainer #searchContainer button {
  width: 3rem;
  background-color: #d55249;
  color: #f5f5f5;
  border-radius: 3rem;
  font-size: 1rem;
}
#books #booksContainer #cardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#books #booksContainer #cardsContainer .bookCard {
  border-radius: 20px;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#books #booksContainer #cardsContainer .bookCard .coverContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#books #booksContainer #cardsContainer .bookCard .coverContainer .cover {
  width: 60%;
}
#books #booksContainer #cardsContainer .bookCard .title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #d55249;
}
#books #booksContainer #cardsContainer .bookCard p {
  text-align: center;
  padding-bottom: 0.5rem;
}
#books #booksContainer #cardsContainer .bookCard button {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: 1px solid #d55249;
  color: #d55249;
  font-weight: 700;
  background-color: inherit;
  cursor: pointer;
}
#books #booksContainer #cardsContainer .bookCard button:hover {
  background-color: #d55249;
  color: #f5f5f5;
}

#formAdd {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
#formAdd h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #d55249;
  text-shadow: 1px 1px 1px #050505;
  text-align: center;
  padding-bottom: 1rem;
}
#formAdd span {
  font-size: 1.3rem;
  text-align: center;
}
#formAdd #formBook {
  padding-top: 2rem;
  width: 70%;
  margin: 2rem auto;
  background-color: #2b4d84;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}
#formAdd #formBook #formAddContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  color: #f5f5f5;
}
#formAdd #formBook #formAddContainer #formLeft {
  padding-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#formAdd #formBook #formAddContainer #formRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#formAdd #formBook #formAddContainer #formRight span {
  font-size: 1.1rem;
  text-align: left;
}
#formAdd #formBook #formAddContainer #formRight #checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#formAdd #formBook #formAddContainer #formRight #checkboxContainer .checkGroup {
  width: 50%;
}
#formAdd #formBook #formAddContainer #formRight #checkboxContainer .checkGroup span {
  font-size: 1rem;
}
#formAdd #formBook #formAddContainer #formRight #lastItem {
  margin-top: 1rem;
}
#formAdd #formBook #formAddContainer #formRight #lastItem input {
  width: 70%;
}
#formAdd #formBook #formAddContainer .inputKeyboard {
  width: 50%;
  padding: 0.5rem 1rem;
  color: #2b4d84;
  border-radius: 15px;
}
#formAdd #formBook #buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#formAdd #formBook #buttonContainer #submit,
#formAdd #formBook #buttonContainer #reset {
  width: 18%;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  color: #2b4d84;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
#formAdd #formBook #buttonContainer #submit:hover,
#formAdd #formBook #buttonContainer #reset:hover {
  color: #050505;
  background-color: #d55249;
}

#modalBook {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.3);
}
#modalBook #modalContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #fbf3ef;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: -2px 1px 29px 11px rgba(0, 0, 0, 0.53);
  border-radius: 25px;
}
#modalBook #modalContainer #imgAndButton {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#modalBook #modalContainer #imgAndButton img {
  width: 80%;
  margin-bottom: 8rem;
}
#modalBook #modalContainer #imgAndButton button {
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: inherit;
  border: 1px solid #236b68;
  color: #236b68;
  font-weight: 700;
  font-size: 1rem;
}
#modalBook #modalContainer #imgAndButton button:hover {
  color: white;
  background-color: #236b68;
}
#modalBook #modalContainer #infoBook {
  width: 50%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#modalBook #modalContainer #infoBook #titleAndCover {
  display: flex;
  margin-bottom: 2rem;
}
#modalBook #modalContainer #infoBook #titleAndCover .coverBookModal {
  width: 25%;
}
#modalBook #modalContainer #infoBook #titleAndCover .titleBookModal {
  font-size: 2.5rem;
  align-self: center;
  margin-left: 1rem;
  color: #236b68;
  font-weight: 900;
}
#modalBook #modalContainer #infoBook h5 {
  font-size: 1.1rem;
  color: #d55249;
  font-weight: 700;
}
#modalBook #modalContainer #infoBook p {
  margin-bottom: 1rem;
}

#reservation {
  display: none;
  width: 100%;
  height: 65vh;
}
#reservation #reservationContainer {
  width: 80%;
  margin: 3rem auto;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#reservation #reservationContainer #reservationIntructions {
  width: 30%;
}
#reservation #reservationContainer #reservationIntructions h2 {
  color: #2b4d84;
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem;
  margin-top: 0;
}
#reservation #reservationContainer #reservationIntructions ul li {
  margin-bottom: 0.5rem;
}
#reservation #reservationContainer #reservationIntructions ul li i {
  color: #236b68;
  margin-right: 0.5rem;
}
#reservation #reservationContainer #reservationForm {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#reservation #reservationContainer #reservationForm span {
  font-style: italic;
  text-align: center;
}
#reservation #reservationContainer #reservationForm #titleBookReserved {
  font-family: "Laila", serif;
  font-size: 1.5rem;
  color: #d55249;
  text-shadow: 2px 2px 2px #f9d2d0;
  text-align: center;
  margin-bottom: 1rem;
}
#reservation #reservationContainer #reservationForm #formReservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation #reservationContainer #reservationForm #formReservation label {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
#reservation #reservationContainer #reservationForm #formReservation label input,
#reservation #reservationContainer #reservationForm #formReservation label textarea {
  width: 70%;
  background-color: #f9d2d0;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: 1px solid #d55249;
  color: #d55249;
  font-size: 1rem;
  font-weight: 700;
}
#reservation #reservationContainer #reservationForm #formReservation button {
  background-color: #f9d2d0;
  color: #d55249;
  border-radius: 15px;
  width: 25%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid #d55249;
}
#reservation #reservationContainer #reservationForm #formReservation button:hover {
  background-color: #d55249;
  color: #f9d2d0;
}
#reservation #reservationContainer img {
  width: 30%;
  align-self: center;
  border-left: 1px solid #d55249;
}/*# sourceMappingURL=style.css.map */